$color-borde: #ccc;
$color-carga: tomato;
$color-titulo: #010101;
$color-precio: green;
$fondo-tarjeta: #fff;

.fraud-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: $color-titulo;
    border-radius: 5px;
  }
  
.fraud-container {
padding: 20px;
}
  